@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "Mirage";
  src: url("/fonts/Mirage-Regular.otf");
}
@font-face {
  font-family: "Mirage-Thin";
  src: url("/fonts/Mirage-Thin.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham-Light";
}


/* ---------------- COMMON STYLING ---------------- */

.margin {
  max-width: 1200px;
  margin: auto;
}

img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.text-color {
  color:rgb(100, 100, 100)
}

.bottom-border {
  border-bottom: .9px solid rgb(205, 205, 205);
}

.nav-link, .default-btn {
  font-family: "Mirage";
}

.photo-gallery--banner h3, .hero-prompt--headline, .form-title {
  font-family: "Mirage-Thin";
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 50px;
  font-size: 1.5em;
}

@media (max-width: 1250px) {
  .margin {
    max-width: 964px;
  }
}

@media (max-width: 1024px) {
  .margin {
    margin: 40px;
  }
}

@media (max-width: 425px) {
  .margin {
    margin: 20px;
  }
  .photo-gallery--banner h3, .hero-prompt--headline, .form-title {
    font-size: 1.3em;
  }
}


/* ---------------- NAVBAR SECTION ---------------- */

#logo {
  width: 130px;
}

.nav-scroll {
  background: #fff;
  z-index: 2;
}

.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  transition: all 300ms ease;
}

.navbar-links-container {
  margin-left: auto;
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links-container:hover a {
  color: rgba(0,0,0,0.5)
}

.navbar-links-container a:hover {
  color: #000;
}

.toggle-btn, .close-btn {
  display: none;
  margin-left: auto;
  cursor: pointer;
}

.line {
  width: 26px;
  height: 1px;
  margin: 6px 0;
  background-color: #000;
}

.close-btn {
  width: 40px;
  height: 40px;
  color: #fff;
  z-index: 2;
  position: relative;
  left: 5px;
}

.close-btn > * {
  position: absolute;
  top: 35%;
  left: 17%;
  background-color: white;
}

.close-btn .line:nth-child(1) {
  transform: rotate(45deg);
}
.close-btn .line:nth-child(2) {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .toggle-btn {
    display: block;
  }

  .close-btn {
    z-index: 2;
    color: white;
  }

  .navbar-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.9);
    transform: translateX(100%);
    transition: transform 400ms ease;
  }

  .nav-link {
    color: #fff;
    font-size: 26px;
  }

  .navbar-links-container:hover a{
    color: #fff;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .nav-slide {
    transform: translateX(0);
  }
}

@media (max-width: 425px) {
  #logo {
    width: 100px;
  }
}


/* ---------------- HERO SECTION ---------------- */

#hero {
  height: 100vh;
  width: 100%;
  background: url("./images/wedding.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero-prompt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.default-btn {
  border: 2px solid #000;
  height: 50px;
  width: 160px;
  background-color: transparent;
  letter-spacing: 2px;
  font-size: 12px;
  margin: auto;
  transition: all 400ms ease;
}

.default-btn:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}

@media (max-width: 830px) {
  .hero-prompt {
    width: 450px;
  }
}

@media (max-width: 425px) {
  .hero-prompt--headline {
    width: 300px;
    margin: 0 auto 40px;
  }

  .default-btn {
    height: 40px;
    width: 130px;
    font-size: 10px;
  }
}


/* ---------------- PHOTO GALLERY SECTION ---------------- */


.photo-gallery--banner {
  max-width: 860px;
  margin: 100px auto;
  text-align: center;
}

.photo-gallery--banner h3 {
  margin-bottom: 20px;
}

.photo-gallery--banner p {
  line-height: 2;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.photo-tile {
  height: 380px;
  width: 100%;
  position: relative;
  transition: transform 500ms ease-in-out;
}

.photo-tile:hover .photo-credit {
  opacity: 1;
}

.photo-tile:hover {
  transform: scale(1.05);
}

.photo-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo-credit {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  opacity: 0;
  transition: all 300ms ease;
}

.button-container {
  text-align: center;
  margin: 100px;
}


@media  (max-width: 1250px) {
  .photo-tile {
    height: 300px;
  }
}

@media (min-width: 425px) and (max-width: 850px) {
  .photo-gallery {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .photo-gallery--banner h3 {
    width: 300px;
    margin: 0 auto 40px;
  }

  .photo-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}




/* ---------------- FOOTER SECTION ---------------- */

.footer-container {
  padding: 50px 0 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 50px;
  position: relative;
}

.footer-title {
  margin: 50px 0;
  padding-bottom: 50px;
  font-size: 18px;
}

.span-2 {
  grid-column: span 2;
}

.assets-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.asset-wrapper {
  max-height: 180px;
  width: 100%;
}

.footer-text {
  font-size: 13px;
  line-height: 2;
}

.fa {
  margin: 30px 10px 0 0;
  color: #000;
  cursor: pointer;
}

#copyright {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 900px) and (max-width: 1250px) {
  .asset-wrapper {
  height: 140px;
  }
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 2fr;
  }

  .footer-container > div {
    grid-column: span 2;
  }

  .assets-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-title {
    margin: 30px 0;
    padding-bottom: 30px;
    font-size: 14px;
  }
}

@media  (max-width: 600px) {
  #copyright {
    width: 250px;
    text-align: center;
  }

  .assets-container {
    grid-template-columns: repeat(2, 1fr);
  }
}



/* ---------------- CONTACT.HTML CSS ---------------- */

.form-container {
  padding: 180px 0 0 0;
  text-align: center;
  margin: auto;
}

form {
  padding: 0 30px 150px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.input-container label {
  align-self: flex-start;
}

input, textarea {
  height: 38px;
  background-color: rgb(247, 246, 246);
  border: 1px solid rgb(205, 205, 205);
  padding: 0 10px;
}

textarea {
  height: auto;
  padding: 10px;
}

@media (max-width: 550px) {
  form {
    padding: 0 0 150px ;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .input-container {
    margin-bottom: 35px;
  }
}