@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "Mirage";
  src: url("/fonts/Mirage-Regular.otf");
}

@font-face {
  font-family: "Mirage-Thin";
  src: url("/fonts/Mirage-Thin.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham-Light";
}

/* ---------------- COMMON STYLING ---------------- */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}

img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.bottom-border {
  border-bottom: .9px solid rgb(205, 205, 205);
}

.nav-link, .shop-btn {
  font-family: "Mirage";
}

.photo-gallery--banner h3, .hero-prompt--headline {
  font-family: "Mirage-Thin";
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 50px;
}

/* ---------------- NAVBAR SECTION ---------------- */

#logo {
  width: 130px;
  height: auto;
}

.nav-scroll {
  background: #fff;
  z-index: 2;
}

.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  transition: all 300ms ease;
}

.navbar-links-container {
  margin-left: auto;
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links-container:hover a {
  color: rgba(0,0,0,0.5)
}

.navbar-links-container a:hover {
  color: #000;
}

.toggle-btn, .close-btn {
  display: none;
  margin-left: auto;
}

.line {
  width: 26px;
  height: 1px;
  margin: 6px 0;
  background-color: #000;
}

.close-btn {
  width: 40px;
  height: 40px;
  color: #fff;
  z-index: 2;
  position: relative;
  left: 5px;
}

.close-btn > * {
  position: absolute;
  top: 35%;
  left: 17%;
  background-color: white;
}

.close-btn .line:nth-child(1) {
  transform: rotate(45deg);
}
.close-btn .line:nth-child(2) {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .toggle-btn {
    display: block;
  }

  .close-btn {
    z-index: 2;
    color: white;
  }

  .navbar-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.8);
    transform: translateX(100%);
    /* transition: transform 400ms ease; */
  }

  .nav-link {
    color: white;
    font-size: 26px;
  }

  .navbar-links-container:hover a{
    color: #fff;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .nav-slide {
    transform: translateX(0);
  }
}


/* ---------------- HERO SECTION ---------------- */

#hero {
  height: 100vh;
  width: 100%;
  background: url("./images/wedding.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero-prompt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 600px;
}

.shop-btn {
  border: 2px solid #000;
  height: 50px;
  width: 160px;
  background-color: transparent;
  letter-spacing: 2px;
  font-size: 12px;
  margin: auto;
  transition: all 400ms ease;
}

.shop-btn:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}

/* ---------------- PHOTO GALLERY SECTION ---------------- */


.photo-gallery--banner {
  max-width: 860px;
  margin: 90px auto;
  text-align: center;
}

.photo-gallery--banner h3 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.photo-gallery--banner p {
  line-height: 2;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.photo-tile {
  height: 300px;
  width: 100%;
  position: relative;
}

.photo-tile:hover .photo-credit {
  opacity: 1;
}

.photo-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo-credit {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  opacity: 0;
  transition: all 300ms ease;
}

.button-container {
  text-align: center;
  margin: 100px;
}


/* ---------------- FOOTER SECTION ---------------- */

.footer-container {
  padding: 50px 0 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 50px;
  position: relative;
}

.footer-title {
  margin: 40px 0;
  padding-bottom: 40px;
  font-size: 15px;
}

.stay-connected:first-child {
  text-transform: uppercase;;
}

.span-2 {
  grid-column: span 2;
}


.assets-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.asset-wrapper {
  max-height: 180px;
  width: 100%;
}

.footer-text {
  font-size: 13px;
  line-height: 2;
}

.text-center {
  margin: auto;
}

#copyright {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}